body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wallpaper {
  height: auto;
  width: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-image: url('images/wallpaper.jpg');
  background-size: cover;
  background-position: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgb(212, 136, 235);
  border-radius: 3px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.click {
  background-color: transparent;
  text-align: center;
  color: white;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.click:hover {
  opacity: 0.6;
}